body {
  background-color: rgb(243, 236, 236);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(231, 238, 237);
}

button {
  border: none;

  background-color: rgb(12, 67, 248);
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 157, 9);
}
